<h1>FlashPark MVP</h1>

<ul>
  <li>Used services and dependency injection for CRUD operations</li>
  <li>Used EF Core for ORM</li>
  <li>Used EF Code First and seeder data in migrations</li>
  <li>Used Task library and Async Await non blocking operations</li>
  <li>Used BehaviorSubject observable for updating List on adding/removing vehicle (Other than easier commented approach which does not require big API call)</li>
  <li>Used Primary,Foreign key in Models class</li>
  <li>Used DTO class for rendering data on client side</li>
  <li>Focused on SignalR for data sync across multiple users/browsers instead of unit tests (but no luck so far)</li>
</ul>

<div>
  <a class="nav-link link-primary" [routerLink]="['/parking-lots']">Parking Lots</a>
</div>
